<footer class="footer">
	<svg id="footerHalfCircle" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100"
		preserveAspectRatio="none">
		<path d="M0 100 C40 0 60 0 100 100 Z"></path>
	</svg>
	<div class="container">
		<ul class="footer__list">
			<li class="footer__item">
				<a href="#">Пользовательское соглашение</a>
			</li>
			<li class="footer__item">
				<a href="#">Политика конфиденциальности</a>
			</li>
			<li class="footer__item">
				<a href="#">Правила акции</a>
			</li>
			<li class="footer__item">
				<a href="#">Обратная связь</a>
			</li>
		</ul>
		<ul class="footer__info">
			<li class="footer__info-item footer__info-item--flex">
				<div class="footer__logo">
					<img src="img/footer_logo.png" alt="">
				</div>
				<div class="footer__copyright">© 2019 OOO "Хенкель Рус"</div>
			</li>
			<li class="footer__info-item">
				<a href="tel:88005008008" class="footer__phone">Горячая линия Акции 8 800 500 80 08. Звонок по России
					бесплатый.</a>
				<div class="footer__time">Время работы ежедневно с 9:00 до 21:00 по Московскому времени</div>
			</li>
		</ul>
		<div class="footer__text-info">Founded in Stockholm — основан в Стокгольме. <br>Количество призов ограничено.
			Ежедневно сертификат вручается первым 20
			зарегистрированным участникам. Срок приобретения товаров и регистрации чеков с 3 июля по 31 июля 2019 года
			включительно.
			Общий срок проведения Акции с 3 июля по 31 августа 2019 года (включая срок выдачи призов). Призы могут
			отличаться от
			изображенных на рекламных материалах. Полная информация об Организаторе, правилах проведения, призовом
			фонде, количестве
			призов по результатам Акции, сроке, месте и порядке их получения дана на сайте fa-promo.ru. Сохраняйте чеки
			до конца
			Акции. Горячая линия Акции 8-800-500-80-08. Звонок по России бесплатный. Время работы: ежедневно с 9:00 до
			21:00 по
			московскому времени. </div>
	</div>
</footer>