<header class="header header--main">
	<div class="container">
		<div class="header__inner">
			<div class="header__shop">
				<a href="index.html" class="header__shop-logo">
					<img src="/img/magnitik-logo.png" alt="">
				</a>
				<a class="header__link-shops" href="http://fa-promo.ru/">Другие сети</a>
			</div>
			<a href="#" id="mob-menu" class="header__mob-menu">
				<span></span>
			</a>
			<nav class="header__nav">
				<a class="header__nav-link" href="#">Правила Акции</a>
				<a class="header__nav-link" href="winners.html">Победители</a>
				<a class="header__nav-link" href="faq.html">FAQ</a>
				<div class="profile">
					<div class="profile__loggin">
						<a href="#" class="profile__link js-popup-button" data-popupShow="popup--login">
							<span class="icon icon-lk-normal"></span>
							<p>Личный кабинет</p>
						</a>
					</div>
					<div class="profile__loggedin">
						<a href="profile.html" class="profile__link">
							<span class="icon icon-lk-login"><span class="path1"></span><span
									class="path2"></span></span>
							<p>Иванов Александр</p>
						</a>
						<a href="#" class="profile__logout">Выйти</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
</header>