<div class="popup popup--login">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<h3 class="title title--popup">Авторизация</h3>
		<form class="form">
			<div class="input-wrap">
				<input class="input-wrap__el" type="tel" name="phone">
				<label class="input-wrap__placeholder">Мобильный телефон</label>
				<span class="input-wrap__bar"></span>
			</div>
			<div class="input-wrap">
				<input class="input-wrap__el" type="password" name="password">
				<label class="input-wrap__placeholder">Пароль</label>
				<span class="input-wrap__bar"></span>
			</div>
			<div class="text text--16 text--right text--mainColor text--mt5">
				<a class="" href="#">Забыли пароль?</a>
			</div>
			<div class="wrap-btn wrap-btn--mt25">
				<button class="btn btn--popup" type="submit">Войти</button>
			</div>
			<div class="text text--16 text--center text--mt20">Впервые на сайте?</div>
			<div class="wrap-btn wrap-btn--mt5">
				<a class="btn btn--popup btn--border js-popup-button" href="#" data-popupShow="popup--reg-start">Зарегистрироваться</a>
			</div>
		</form>
	</div>
</div>
<div class="popup popup--reg-start">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<h3 class="title title--popup">Регистрация</h3>
		<div class="text text--16 text--center text--mt5">
			<p>Все поля обязательны</p>
			<p>для заполнения</p>
		</div>
		<form class="form form--mt20">
			<div class="input-wrap">
				<input class="input-wrap__el" type="text" name="surname">
				<label class="input-wrap__placeholder">Фамилия</label>
				<span class="input-wrap__bar"></span>
			</div>
			<div class="input-wrap">
				<input class="input-wrap__el" type="text" name="name">
				<label class="input-wrap__placeholder">Имя</label>
				<span class="input-wrap__bar"></span>
			</div>
			<div class="input-wrap">
				<input class="input-wrap__el" type="tel" name="phone">
				<label class="input-wrap__placeholder">Мобильный телефон</label>
				<span class="input-wrap__bar"></span>
			</div>
			<div class="input-wrap">
				<input class="input-wrap__el" type="email" name="email">
				<label class="input-wrap__placeholder">E-mail</label>
				<span class="input-wrap__bar"></span>
			</div>
			<div class="input-wrap">
				<select id="select-city" class="input-wrap__el" name="city">
					<option></option>
					<option>Львов</option>
					<option>Киев</option>
					<option>Сумы</option>
					<option>Харьков</option>
					<option>Ужгород</option>
					<option>Симферополь</option>
					<option>Джанкой</option>
					<option>Керчь</option>
					<option>Евпатория</option>
					<option>Ялта</option>
				</select>
				<label class="input-wrap__placeholder">Ваш город</label>
				<span class="input-wrap__bar"></span>
			</div>
			<div class="input-wrap">
				<input id="rules" class="checkbox" type="checkbox" name="rules" required>
				<label for="rules" class="checkbox-text text text--16">Я согласен <a href="#" class="text text--16 text--mainColor text--underline">с правилами</a> акции</label>
			</div>
			<div class="input-wrap">
				<input id="personal" class="checkbox" type="checkbox" name="personalAgreement" required>
				<label for="personal" class="checkbox-text text text--16">Я согласен на обработку моих персональных данных</label>
			</div>
			<div class="wrap-btn wrap-btn--mt25">
				<button class="btn btn--popup" type="submit">далее</button>
			</div>
		</form>
	</div>
</div>
<div class="popup popup--reg-end">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<h3 class="title title--popup">Регистрация</h3>
		<div class="text text--16 text--center text--mt20">
			<p>Регистрация прошла успешно.</p>
			<p>Спасибо за регистрацию.</p>
		</div>
		<div class="wrap-btn wrap-btn--mt25">
			<a class="btn btn--popup js-close-popup" href="#">Понятно</a>
		</div>
	</div>
</div>
<div class="popup popup--question">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<h3 class="title title--popup">Задать вопрос</h3>
		<form class="form form--mt20">
			<div class="input-wrap">
				<input class="input-wrap__el" type="text" name="name">
				<label class="input-wrap__placeholder">Имя</label>
				<span class="input-wrap__bar"></span>
			</div>
			<div class="input-wrap">
				<input class="input-wrap__el" type="email" name="email">
				<label class="input-wrap__placeholder">E-mail</label>
				<span class="input-wrap__bar"></span>
			</div>
			<div class="input-wrap input-wrap--arrow">
				<select class="input-wrap__el">
					<option>Вопрос об Акции</option>
					<option>Вопрос о Правилах Акции</option>
					<option>Вопрос о Призах</option>
					<option>Другой вопрос</option>
				</select>
				<label class="input-wrap__placeholder">Тема</label>
				<span class="input-wrap__bar"></span>
			</div>
			<div class="input-wrap">
				<input class="input-wrap__el" type="text">
				<label class="input-wrap__placeholder">Напишите свою тему</label>
				<span class="input-wrap__bar"></span>
			</div>
			<div class="input-wrap">
				<input class="input-wrap__el" type="text" name="message">
				<label class="input-wrap__placeholder">Соощение</label>
				<span class="input-wrap__bar"></span>
			</div>
			<div class="input-wrap">
				<div class="text text--16 text--black">Изображение если требуется</div>
				<input id="upload-file" class="input-wrap__el input-wrap__el--file" multiple type="file">
				<label for="upload-file" class="input-wrap__label">Выберите файл</label>
				<div class="input-wrap__file">Файл не выбран</div>
			</div>
			<div class="wrap-btn wrap-btn--mt25">
				<button class="btn btn--popup" type="submit">Задать вопрос</button>
			</div>
		</form>
	</div>
</div>
<div class="popup popup--upload-checks">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<h3 class="title title--popup">Загрузка чека</h3>
		<div class="iframe-wrap">
			<iframe src="http://checkservice.emg.ru/Upload?id=5f15f89c-f1a9-4baf-839c-5533ef69f233&participantId=1&hash=8199fc5c5ed29cede309703d655719c9" class="iframe"></iframe>
		</div>
	</div>
</div>