body {
	font-family: $circe;
	font-size: 14px;
	color: $mainColor;
}

.main {
	flex: 1 0 auto;

	&--index {
		background-color: $mainColor;
	}
	
	&__inner {
		margin: 60px 0 75px;
	}
}

input,
select,
textarea {
	border: none;
	border-bottom: 1px solid $mainColor;
	padding: 5px;
	width: 100%;
	font-size: 18px;
	color: $colorForms2;
}

@include input-placeholder {
	color: $colorForms1;
	line-height: 100%;
}

@keyframes cloudsMove {
	from {
		background-position-x: 0%;
	}

	to {
		background-position-x: 100%;
	}
}

@keyframes lights {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

%light {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// Main-page-------------
.block-top {
	background: url("../img/clouds.jpg") repeat-x center center;
	background-size: cover;
	animation: 100s cloudsMove infinite alternate;
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url("../img/mountin.png") no-repeat center bottom;
		background-size: cover;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: -40px;
		left: 0;
		right: 0;
		background: url("../img/line.png") no-repeat center center;
		background-size: cover;
		height: 118px;
	}

	&__bg {
		@extend %light;
		background: url("../img/light01.png") no-repeat center center;
		animation: 2s lights infinite;

		&:before {
			content: "";
			@extend %light;
			background: url("../img/light2.png") no-repeat center center;
			animation: 3s lights infinite;
		}

		&:after {
			content: "";
			@extend %light;
			background: url("../img/light03.png") no-repeat center center;
			animation: 5s lights infinite;
		}
	}

	&__wrap {
		position: relative;
		z-index: 1;
	}

	&__inner {
		margin-top: 40px;
	}

	&__inner-wrap {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
}

.product-img {
	display: flex;
	align-items: flex-end;

	img {
		@include transitionEase(.5s);
	}

	&__kit {
		max-width: 649px;
		margin-left: -16%;
		margin-right: -40%;
		&:after {
			content: "";
			position: absolute;
			bottom: -40px;
			left: 0;
			right: 0;
			background: url(../img/line.png) no-repeat center center;
			background-size: cover;
			height: 118px;
		}
	}
	&__first {
		max-height: 420px;
		margin: 0 -35px 25px 0;
	}

	&__second {
		max-height: 455px;
		position: relative;
		z-index: 1;
	}

	&__third {
		max-height: 415px;
		margin: 0 0 15px -25px;
	}

	&:hover {

		img {
			will-change: transform;
		}		
		.product-img__first {
			transform: translateY(20px);
		}

		.product-img__second {
			transform: translateY(-20px);
		}

		.product-img__third {
			transform: translateY(10px);
		}
	}
}

.product-text {
	max-width: 460px;
	width: 100%;
	padding-bottom: 140px;
	.title {
		&--text{
			&_t2 {
				font-family: $nextScript;
				font-size: .7em;
			}
			&_t1 {
				font-family: $circeExB;
				text-transform: uppercase;
				color: $colorText2;
			}
		}
	}
}

.block-center {
	padding: 40px 0 50px;
	background-color: #fff;
}

.info-list {
	display: flex;
	justify-content: space-around;
	margin-top: 45px;
}

%icon-pos {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-size: contain;
}

.info-item {
	text-align: center;

	&__img {
		width: 85px;
		height: 85px;
		border-radius: 50%;
		margin: 0 auto 25px;
		position: relative;

		&--first {
			background-color: #9462b3;
			box-shadow: 0 15px 22px 0 rgba(#9462b3, .75);
			
			&:after {
				content: "";
				@extend %icon-pos;
				background: url("../img/svg/step1-icon.svg") no-repeat center center;
				width: 37px;
				height: 57px;
			}
		}

		&--second {
			background-color: #e0a85f;
			box-shadow: 0 15px 22px 0 rgba(#e0a85f, .75);

			&:after {
				@extend %icon-pos;
				background: url("../img/svg/step2-icon.svg") no-repeat center center;
				width: 69px;
				height: 50px;
			}
		}

		&--third {
			background-color: #20368c;
			box-shadow: 0 15px 22px 0 rgba(#20368c, .75);

			&:after {
				@extend %icon-pos;
				background: url("../img/svg/step3-icon.svg") no-repeat center center;
				width: 44px;
				height: 52px;
			}
		}

		&--fourth {
			background-color: #e6da00;
			box-shadow: 0 15px 22px 0 rgba(#e6da00, .75);

			&:after {
				@extend %icon-pos;
				background: url("../img/svg/step4-icon.svg") no-repeat center center;
				width: 48px;
				height: 46px;
			}
		}
	}

	&__text {
		font-size: 16px;
		color: $colorText1;
	}
}

.block-bottom {
	background-color: $footerBg;
	background: url("../img/bg.jpg") no-repeat center top;
	background-size: cover;
	padding: 120px 0 150px;
}
.prize-info {
	color: $colorText3;
	text-align: center;
}
.prize-list {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 40px auto 0;

	&--top {
		margin-top: 20px;
		color: $colorText3;

		.prize-item {			

			&:first-child {
				
				&:after {
					top: 40px;
					right: -95%;
					background: url("../img/arrow-top01.png") no-repeat center center;
					background-size: contain;
					width: 150px;
					height: 98px;
				}

				.prize-item__img {

					&:after {
						content: "";
						z-index: -1;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						background: url("../img/shadow-bag.png") no-repeat center center;
						background-size: contain;
						width: 330px;
						height: 330px;
					}
				}
			}

			&:last-child {

				.prize-item__img {

					&:after {
						content: "";
						z-index: -1;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						background: url("../img/shadow-plane.png") no-repeat center center;
						background-size: contain;
						width: 200px;
						height: 200px;
					}
				}
			}
		}

		.prize-item__img {
			background: rgba(0, 0, 0, 0);
			width: 160px;
			height: 160px;
			margin: 0 auto 20px;

			img {
				max-height: 150px;
			}
		}

		.title--prize,
		.prize-item__text {
			font-size: 18px;
			font-size: 18px;
		}
	}
}

.prize-item {
	text-align: center;
	margin: 0 3em;

	&__img {
		width: 220px;
		height: 220px;
		border-radius: 50%;
    	background-color: rgb(208, 19, 130);
		background-size: contain;
		position: relative;
		margin-bottom: 40px;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__img1 {
		max-height: 213px;
	}

	&__img2 {
		max-height: 173px;
	}

	&__text {
		margin-top: 5px;
		font-size: 21px;
	}
}

// Table------------------
.table-wrap {
	max-width: 830px;
	width: 100%;
	margin: 35px auto;
	height: 300px;
}

.table {
	width: 100%;
	border-collapse: collapse;

	.title {
		text-align: left;
	}

	&__tr-checks {

		&--mod {
			color: $colorText1;
		}

		&--error {
			color: $colorText4;

			.table__check-status {
		
				span {
					position: relative;
					padding-right: 25px;
					display: inline-block;
				}
			}
		}

		&--empty {
			opacity: 0;
		}
	}

	td {
		padding-top: 15px;
		font-size: 16px;
	}

	&__check-photo {

		img {
			max-height: 50px;
		}
	}

	&__tr-winners {

		td {
			padding-top: 30px;
			font-size: 16px;
		}
	}
}

.help {
	border: 1px solid $colorText4;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	right: 0;
	line-height: 20px;
	transform: translateY(-50%);
	text-align: center;
	cursor: pointer;
	@include transitionEase(.2s);

	&:hover {
		color: $colorText3;
		background-color: $colorText4;

		& ~ .help-wrap {
			opacity: 1;
			visibility: visible;
			transition: opacity .3s 0s, visibility 0s 0s;
		}
	}
}

.help-wrap {
	position: absolute;
	top: 0;
	right: 25%;
	z-index: 1;
	padding: 20px;
    width: 250px;
	border: 1px solid $mainColor;
	background-color: #fff;
	color: $mainColor;
	font-size: 14px;
	text-align: left;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s 0s, visibility 0s .3s;

	@include sm {
		top: 20px;
    	right: -5%;
	}

	p {
		margin-top: 10px;
	}
}

// FAQ -------------------
.faq-list {
	max-width: 950px;
	width: 100%;
	margin: 10px auto 40px;
	counter-reset: num;
}

.faq-item {
	position: relative;
	padding-left: 35px;

	&:before {
		counter-increment: num;
		content: "0" counter(num) ".";
		position: absolute;
		top: 0;
		left: 0;
		color: rgba(#20368c, .3);
		font-family: $circeExB;
		font-size: 22px;
	}

	&__title {
		margin-top: 30px;
		cursor: pointer;
		user-select: none;
		padding-right: 35px;
		position: relative;

		&:hover {

			.arrow {
				will-change: transform;
			}
		}

		&.active {

			.arrow {
				transform: rotate(-180deg);
			}
		}
	}

	&__text {
		margin-top: 10px;
		max-height: 0;
		overflow: hidden;
		transition: max-height .2s ease-out;
	}
}

.arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	background-color: $mainColor;
	border-radius: 50%;
	@include transitionEase(.2s);

	&:after {
		content: "";
		position: absolute;
		top: 9px;
		left: 50%;
		transform: translateX(-50%) rotate(45deg);
		border: {
			top: 2px solid #fff;
			left: 2px solid #fff;
		}
		width: 10px;
		height: 10px;
	}
}

.faq-title {
	text-align: center;
	margin-bottom: 15px;
}

// Popups-----------------
.no-scroll {
	overflow-y: scroll;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.popup {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(#fff, .8);
	opacity: 0;
	z-index: 10;
	visibility: hidden;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;

	&.js-popup-show {
        opacity: 1;
		visibility: visible;
		transition: opacity 0.3s 0s, visibility 0s 0s;

		.popup__wrap {
			transform: translateY(0);
		}
	}

	&__close {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: $mainColor;
		position: absolute;
		top: 20px;
		right: 20px;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 15px;
			height: 2px;
			background-color: #fff;
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

	}

	&__wrap {
		position: relative;
		margin: 100px auto;
        max-width: 360px;
        width: 100%;
        margin-bottom: 50px;
		transform: translateY(-40px);
		transition-duration: .3s;
		padding-right: 45px;
		background-color: #fff;
		box-shadow: 0 0 24px rgba(0, 0, 0, .39);
		border-radius: 25px;
		padding: 45px 40px 40px;
	}
}

.form {
	margin-top: 40px;

	&--mt20 {
		margin-top: 20px;
	}
}

.input-wrap {
	position: relative;

	&--arrow {
		position: relative;

		&:after {
			content: "";
			border: {
				top: 2px solid $mainColor;
				left: 2px solid $mainColor;
			}
			width: 10px;
			height: 10px;
			transform: rotate(-135deg);
			position: absolute;
			right: 10px;
			top: 9px;
			pointer-events: none;
		}
	}

	&:nth-child(n+2) {
		margin-top: 25px;
	}

	&__el {
		@include transitionEase(.2s);

		&--file {
			display: none;
		}
	}
	
	&__placeholder {
		position: absolute;
		top: 8px;
		left: 5px;
		font-size: 18px;
		color: $colorForms1;
		pointer-events: none;
		line-height: 100%;
		@include transitionEase(.2s);
	}

	&__bar {
		position: relative; 
		display: block; 
		width: 100%;

		&:before,
		&:after {
			content: "";
			position: absolute;
			height: 2px; 
			width: 0%;
			left: 50%;
			bottom: 1px; 
			position: absolute;
			background: $mainColor; 
			@include transitionEase(.2s);
		}

		&:after {
			left: auto;
			right: 50%;
		}
	}

	input:focus ~ .input-wrap__placeholder,
	.has-value ~ .input-wrap__placeholder,
	.choices:focus ~ .input-wrap__placeholder {
		top: -12px;
		font-size: 11px;
	}

	input:focus ~ .input-wrap__bar:before,
	input:focus ~ .input-wrap__bar:after,
	.choices:focus ~ .input-wrap__bar:before,
	.choices:focus ~ .input-wrap__bar:after,
	.has-value ~ .input-wrap__bar:before,
	.has-value ~ .input-wrap__bar:after {
		width: 50%;
	}

	&__label {
		display: block;
		text-decoration: underline;
		color: $colorForms2;
		margin-top: 10px;
		font-size: 16px;
		cursor: pointer;
		text-align: center;
	}

	&__file {
		margin: 10px 0 20px;
		color: $colorText1;
		font-size: 16px;
		text-align: center;
	}
}

.checkbox {
	display: none;

	&:checked {

		& ~ .checkbox-text:after {
			opacity: 1;
		}
	}
}

.checkbox-text {
	display: block;
	padding-left: 30px;
	cursor: pointer;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		border: 1px solid $mainColor;
		@include transitionEase(.2s);
	}

	&:after {
		content: "";
		width: 6px;
		height: 10px;
		border: {
			bottom: 2px solid $mainColor;
			right: 2px solid $mainColor;
		}
		transform: rotate(40deg);
		position: absolute;
		z-index: 1;
		top: 3px;
		left: 7px;
		opacity: 0;
		transition: opacity .2s ease;
	}
}

.yellow-color {
	color: $colorText2;
}