// Btn----------------------------
.wrap-btn {
	text-align: center;
	
	&--main {
		margin-top: 30px;
	}

	&--mt25 {
		margin-top: 25px;
	}

	&--mt20 {
		margin-top: 20px;
	}

	&--mt5 {
		margin-top: 5px;
	}

	&--mt45 {
		margin-top: 45px;
	}

	&:hover {

		.btn {
			will-change: transform;
		}
	}
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	font-family: $circeExB;
	background-color: $colorBtn2;
	padding: 15px 20px;
	border-radius: 25px;
	@include transitionEase(.3s);

	&:hover {
		transform: scale(1.1);
	}

	&--main {
		background-color: $colorBtn1;
	}

	&--popup {
		max-width: 240px;
		width: 100%;
		color: $mainColor;
	}

	&--border {
		background-color: #fff;
		border: 1px solid $mainColor;
	}
}

// Title--------------------------
.title {
    line-height: 100%;
    font-family: $circeB;
	text-align: center;
	
	&--biggest {
		text-align: center;
		color: $colorText3;
		font-family: $circe;
		font-size: 70px;
	}

    &--big {
		font-size: 52px;
		
		@include sm {
			font-size: 32px;
		}
    }

    &--min {
        font-family: $circe;
        color: $colorText1;
        font-size: 12px;
	}
	
	&--info {
		font-family: $circeExB;
		font-size: 20px;
		margin-bottom: 10px 
	}

	&--prize {
		font-size: 25px;
		text-transform: uppercase;
		font-family: $circeExB;

		span {
			display: block;
		}
	}

	&--popup {
		font-family: $circeExB;
		font-size: 32px;
	}
}

// Text-------------------------
.text {
	letter-spacing: .25px;

	&--22 {
		font-size: 22px;
		color: $mainColor;
		font-family: $circeExB;
	}

	&--16 {
		font-size: 16px;
		color: $colorText1;
	}

	&--black {
		color: $colorForms2;
	}

	&--mainColor {
		color: $mainColor;
	}

	&--right {
		text-align: right;
	}

	&--center {
		text-align: center;
	}

	&--mt5 {
		margin-top: 5px;
	}

	&--mt20 {
		margin-top: 20px;
	}

	&--underline {
		text-decoration: underline;
	}
}

// Select2------------------------]
.select2 {
	display: block;
	margin: 20px auto 0;
}

.select2-container {
	width: 100% !important;
	max-width: 200px;

	&.select2-container--open {

		.select2-dropdown {
			border-bottom: 1px solid $mainColor;
		}

		.select2-selection--single {

			.select2-selection__arrow {

				b {
					border-color: #20368c;
					border-width: 2px;
				}
			}
		}
	}

	.select2-selection--single {
		height: 100%;
		text-align: left;
		border-radius: 0;
		padding: 5px 10px;
		border: none;
		border-bottom: 1px solid $mainColor;
		outline: none;

		.select2-selection__rendered {
			line-height: 100%;
			padding-left: 0;
			color: $mainColor;
			font-family: $circeB;
			font-size: 18px;
		}

		.select2-selection__arrow {

			b {
				border-style: none;
				border-color: #20368c;
				border-width: 2px;
				border: {
					top: 2px solid $mainColor;
					left: 2px solid $mainColor;
				}
				width: 10px;
				height: 10px;
				transform: rotate(-135deg);
				top: 5px;
				left: 5px;
				margin-top: 0;
				margin-left: 0;
			}
		}
	}
}

.select2-dropdown {
	border-radius: 0;
	border: 1px solid $mainColor;

	.select2-results__options {
		-webkit-overflow-scrolling: touch;
		color: $mainColor;
		font-family: $circeB;
		font-size: 18px;
	}

	.select2-results__option[aria-selected=true] {
		background-color: #fff;
	}

	.select2-results__option--highlighted[aria-selected] {
		color: $colorText2;
		background-color: #fff;
	}
}

.select2-results__option {
	padding: 10px;
}

.input-wrap {

	.select2 {
		margin: 0;

		& + .input-wrap__placeholder {
			top: 5px;
		}
	}

	.select2-selection__placeholder {
		opacity: 0;
	}

	.select2-container {
		max-width: none;
		
		.select2-results {

			& > .select2-results__options {
				max-height: 150px;
			}
		}

		.select2-selection--single {
			height: 31px;
			padding: 5px;
	
			.select2-selection__rendered {
				font-family: $circe;
				color: $colorForms2;
			}
		}
	}

	.select2-dropdown {
	
		.select2-results__options {
			font-family: $circe;
			color: $colorForms2;
		}
	
		.select2-results__option--highlighted[aria-selected] {
			color: $colorText2;
			background-color: #20368c;
		}
	}

	.select2-results__option {
		padding: 5px;
	}
}

// Scroll--------------------
.simplebar-track.simplebar-vertical {
    background-color: $mainColor;
    width: 1px;
    overflow: visible;
}

.simplebar-track.simplebar-horizontal {
	background-color: $mainColor;
	height: 1px;
	overflow: visible;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
	top: -3px;
}

.simplebar-vertical .simplebar-scrollbar {
    right: -3px;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
	opacity: 1;
}

.simplebar-scrollbar {

	&:before {
		background: #fff;
		border: 1px solid $mainColor;
		border-radius: 0;
	}
}

// Validate--------------------
.input-wrap {

	&.error {

		.input-wrap__el,
		.select2-selection--single {
			background-color: $colorError2;
			border-bottom: 1px solid $colorError1;
		}

		.input-wrap__placeholder {
			color: $colorError1;
		}

		.input-wrap__bar {

			&:before,
			&:after {
				background-color: $colorError1;
			}
		}

		.checkbox-text:before {
			border: 1px solid $colorError1;
			background-color: $colorError2;
		}
	}
}

// IFRAME--------------
.js-popup-show {

	.iframe-wrap {
		display: block;
	}
}

.iframe-wrap {
	display: none;
}

.iframe {
	width: 100%;
	min-height: 500px;
	-webkit-overflow-scrolling: touch;
}