@font-face {
    font-family: 'Nexa Script';
    src: url('../fonts/NexaScript/NexaScript-Bold.eot');
    src: url('../fonts/NexaScript/NexaScript-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaScript/NexaScript-Bold.woff2') format('woff2'),
        url('../fonts/NexaScript/NexaScript-Bold.woff') format('woff'),
        url('../fonts/NexaScript/NexaScript-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-ExtraBold';
    src: url('../fonts/Circe/Circe-ExtraBold.eot');
    src: local('☺'), url('../fonts/Circe/Circe-ExtraBold.woff') format('woff'), url('../fonts/Circe/Circe-ExtraBold.ttf') format('truetype'), url('../fonts/Circe/Circe-ExtraBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-Bold';
    src: url('../fonts/Circe/Circe-Bold.eot');
    src: local('☺'), url('../fonts/Circe/Circe-Bold.woff') format('woff'), url('../fonts/Circe/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe/Circe-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe.eot');
    src: local('☺'), url('../fonts/Circe/Circe.woff') format('woff'), url('../fonts/Circe/Circe.ttf') format('truetype'), url('../fonts/Circe/Circe.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?k3g53y');
    src: url('../fonts/icomoon/icomoon.eot?k3g53y#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?k3g53y') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?k3g53y') format('woff'),
        url('../fonts/icomoon/icomoon.svg?k3g53y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-days-logo:before {
    content: "\e900";
    color: #fff;
}

.icon-lk-login .path1:before {
    content: "\e901";
    color: rgb(230, 218, 0);
}

.icon-lk-login .path2:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(32, 54, 140);
}

.icon-lk-normal:before {
    content: "\e903";
    color: #fff;
}

.icon-step1-icon:before {
    content: "\e904";
    color: #fff;
}

.icon-step2-icon:before {
    content: "\e905";
    color: #fff;
}

.icon-step3-icon:before {
    content: "\e906";
    color: #fff;
}