#footerHalfCircle {
	width: 100%;
	height: 30px;
	position: absolute;
	top: -29px;

	path {
		fill: $footerBg;
		stroke: $footerBg;
	}
}

.footer {
	flex-shrink: 0;
	background-color: $footerBg;
	padding: 20px 0;
	color: $colorText3;
	position: relative;

	&__list {
		display: flex;
		justify-content: center;

		@include md {
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {

		&:nth-child(n+2) {
			margin-left: 35px;

			@include md {
				margin-left: 0;
				margin-top: 35px;
			}
		}

		a {
			text-transform: uppercase;
			font-family: $circeExB;
			color: $colorText2;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				height: 2px;
				background-color: $colorText3;
				bottom: 0;
				right: 0;
				left: auto;
				width: 0%;
				@include transitionEase(.3s);
			}
	
			&:hover {
	
				&:after {
					width: 100%;
					right: auto;
					left: 0;
				}
			}
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 35px;

		@include md {
			flex-direction: column;
		}
	}
	
	&__info-item {

		&--flex {
			display: flex;
			align-items: center;

			@include md  {
				margin-bottom: 20px;
			}
		}

		&:nth-child(n+2) {
			max-width: 100%;
		}
	}

	&__logo {
		max-height: 40px;
	}

	&__copyright {
		margin-left: 25px;
		font-size: 13px;
		color: rgba(255, 255, 255, .5);
	}

	&__phone {
		position: relative;
		padding-left: 25px;
		display: inline-block;

		&:before {
			content: "";
			position: absolute;
			top: -3px;
			left: 0;
			width: 21px;
			height: 21px;
			background: url('../img/phone.png') no-repeat center center;
			background-size: contain;
		}
	}

	&__time {
		margin-top: 5px;
		color: rgba(255, 255, 255, .4);
		padding-left: 25px;
	}

	&__text-info {
		margin-top: 20px;
		font-size: 12px;
	}
}