%mob-menu {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
	height: 2px;
	background-color: $mainColor;
}

.header {

	.icon-lk-normal:before {
		color: $mainColor;
	}

	&--main {
		color: $colorText3;
		@include transitionEase(.3s);

		.header__link-shops:before,
		.profile__logout:after {
			border: {
				top: 1px solid #fff;
				left: 1px solid #fff;
			}
		}

		.header__nav-link:after {
			background-color: #fff;
		}

		.header__mob-menu {

			span {
				background-color: #fff;
				
				&:before,
				&:after {
					background-color: #fff;
				}
			}
		}

		.icon-lk-normal:before {
			color: #fff;
		}
	}

	&.active {
		background-color: #fff;
		color: $mainColor;

		.header__link-shops:before,
		.profile__logout:after {
			border: {
				top: 1px solid $mainColor;
				left: 1px solid $mainColor;
			}
		}

		.header__nav-link:after {
			background-color: $mainColor;
		}

		.header__mob-menu {

			span {
				background-color: $mainColor;
				
				&:before,
				&:after {
					background-color: $mainColor;
				}
			}
		}

		.icon-lk-normal:before {
			color: $mainColor;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__shop {
		text-align: center;
		align-self: flex-start;
		display: flex;
		flex-direction: column;
		// flex-grow: 1;
		align-items: flex-start;
		margin-left: 65px;
	}

	&__shop-logo {
		margin-top: 10px;
		display: block;
		background-color: $colorText3;
		padding: 10px;

		img {
			max-height: 30px;
		}
	}

	&__link-shops {
		align-self: center;
		display: inline-block;
		position: relative;
		margin-top: 15px;
		padding-left: 8px;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%) rotate(-45deg);
			border: {
				top: 1px solid $mainColor;
				left: 1px solid $mainColor;
			}
			width: 6px;
			height: 6px;
		}
	}

	&__mob-menu {
		display: none;
		width: 25px;
		height: 15px;
		position: relative;
		flex-shrink: 0;

		span {
			@extend %mob-menu;
			top: 50%;
			transform: translateY(-50%);
			@include transitionEase(.2s);
			
			&:before,
			&:after {
				content: "";
				@extend %mob-menu;
				@include transitionEase(.2s);
				transform: translateY(-7px);
			}

			&:after {
				transform: translateY(7px);
				left: 7px;
			}
		}

		&--active {

			span {
				height: 0;

				&:before {
					transform: rotate(-45deg);
				}

				&:after {
					transform: rotate(45deg);
					left: 0;
				}
			}
		}

		@include sm {
			display: inline-block;
		}
	}

	&__nav {
		display: flex;
		flex: 0 0 auto;
	}

	&__nav-link {
		margin-right: 30px;
		align-self: flex-start;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			height: 1px;
			background-color: $mainColor;
			bottom: 0;
			right: 0;
			left: auto;
			width: 0%;
			@include transitionEase(.3s);
		}

		&:hover {

			&:after {
				width: 100%;
				right: auto;
				left: 0;
			}
		}
	}

	&:hover {

		.header__mob-menu span {
			will-change: opacity;
		}

		.header__mob-menu span:before,
		.header__mob-menu span:after {
			will-change: transition;
		}
	}
}

.profile {

	&__loggedin {
		display: none;
		font-family: $circeB;
	}

	&--active {

		.profile__loggin {
			display: none;
		}

		.profile__loggedin {
			display: flex;
			flex-direction: column;
		}
	}

	&__link {
		display: inline-block;
		position: relative;
		padding-left: 40px;

		.icon {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			font-size: 34px;
		}
	}

	&__logout {
		align-self: flex-end;
		font-family: $circe;
		position: relative;
		padding-right: 10px;
		margin-top: 5px;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 1px;
			transform: translateY(-50%) rotate(135deg);
			border: {
				top: 1px solid $mainColor;
				left: 1px solid $mainColor;
			}
			width: 6px;
			height: 6px;
		}
	}
}