// MAX-WIDTH --------------------
@media (max-width: 991px) {
   // Main-page-------------
   .block-top {

		&__inner-wrap {
			justify-content: space-around;
		}
   }

   .product-img {

		&__first {
			max-height: 310px;
		}

		&__second {
			max-height: 400px;
		}

		&__third {
			max-height: 320px;
		}
   }

   .product-text {
		max-width: 440px;  

		.title--biggest {
			font-size: 55px;
		}	
   }

   .prize-list--top {

		.prize-item__img {
			width: 140px;
    		height: 140px;
		}
   }
}

@media (max-width: 767px) {
	// Header----------------
	.header {
		position: relative;

		&__shop {
			flex-direction: row;
			margin-left: 0;
			flex-grow: 1;
		}

		&__shop-logo {
			order: 1;
			margin-left: 20px;
		}

		&__link-shops {
			font-size: 12px;
			margin-top: 10px;
		}

		&__mob-menu {
			position: relative;
			z-index: 3;
		}

		&__nav {
			flex-direction: column;
			position: absolute;
			top: -350px;
			left: 0;
			right: 0;
			z-index: 2;
			background-color: #fff;
			padding: 0 15px 40px;
			box-shadow: 0px 25px 35px -20px rgba(0, 0, 0, .4);
			transition: top .3s ease;

			&.active {
				top: 100%;
			}
		}

		&__nav-link {
			font-size: 24px;
			margin-top: 20px;
			margin-right: 0;
		}
	}

	.profile {
		margin-top: 45px;

		&__link {
			font-size: 24px;
		}

		&__logout {
			align-self: flex-start;
			padding-left: 40px;
			margin-top: 15px;
			font-size: 16px;
		}
	}

	// Main-page-------------
	.block-top {

		&:before {
			top: 30%;
		}

		&__bg {
			top: 25%;
		}

		&__inner {
			margin-top: 25px;
		}

		&__inner-wrap {
			flex-direction: column;
			align-items: center;
		}
   }

   .product-img {
		margin-top: 20px;
		order: 1;
		justify-content: center;

		&__kit {
			margin-left: -15%;
				order: 2;
				z-index: -1;
				margin-right: -40%;
				max-width: 366px;
		}

		&__first {
			max-height: 233px;
			margin: 0 -25px 10px 0;
		}

		&__second {
			max-height: 266px;
		}

		&__third {
			max-height: 244px;
			margin: 0 0 5px -20px;
		}

		&:hover {

			.product-img__first {
				transform: translateY(10px);
			}
	
			.product-img__second {
				transform: translateY(-10px);
			}
	
			.product-img__third {
				transform: translateY(5px);
			}
		}
   }

   .product-text {
	   padding-bottom: 0;
	  
		.title--biggest {
			font-size: 42px;
		}

		.wrap-btn--main {
			margin-top: 15px;
			text-align: center;
		}
   }

   .block-center {
		padding: 30px 0 50px;
   }

   .info-list {
		flex-direction: column;
		align-items: center;
   }

   .info-item {

		&:nth-child(n+2) {
			margin-top: 50px;
		}
   }

   .prize-list {
		flex-direction: column;
		align-items: center;

		&--top {

			.prize-item {

				&:first-child {

					&:after {
						top: 60px;
						right: auto;
						left: -20px;
						background: url("../img/arrow-top02.png") no-repeat center center;
						background-size: contain;
						width: 40px;
						height: 200px;
					}
				}

				&:nth-child(n+2) {
					margin-top: 30px;
				}
			}

			.prize-item__img {
				margin: 0 auto 15px;
			}

			.title--prize {
				font-size: 16px;
			}

			.prize-item__text {
				font-size: 13px;
			}
		}
   }

   .block-bottom {
		padding: 120px 0;
   }

   .prize-item {

		&:first-child {

			&:after {
				top: 32%;
				left: -15%;
				right: auto; 
				background: url("../img/arrow02.png") no-repeat center center;
				background-size: contain;
				width: 65px;
				height: 315px;
			}
		}

		&:nth-child(n+2) {
			margin-top: 65px;
		}
   }

	// Table--------------------
	.table-wrap {
		padding: 0 10px;

		&--checks {
			height: 450px;
			margin: 25px auto 35px;
		}
	}

	.table {

		&--checks {

			thead {
				display: none;
			}
		}

		&__tr-checks {
			max-width: 320px;
			width: 100%;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			border-radius: 25px;
			background-color: #ffffff;
			display: block;
			margin: 20px auto 0;
			padding: 15px 10px;
			position: relative;

			td {
				display: block;
				padding: 0;
			}

			td:not(.table__check-photo) {
				padding-left: 65px;
				
				span {
					position: relative;
					display: inline-block;
					padding-left: 85px;

					&:before {
						content: attr(data-title);
						position: absolute;
						top: 0;
						left: 0;
						color: $colorText1;
						font-size: 12px;
					}
				}
				
				&:nth-child(n+2) {
					padding-top: 5px;
				}
			}

			&:last-child {
				margin-bottom: 20px;
			}
		}

		&__check-photo {
			position: absolute;
			top: 10px;
			left: 10px;
		}

		&__check-prize {
			padding-top: 20px !important;
		}

		&__tr-winners {

			td {
				font-size: 14px;
			}
		}
	}

	// FAQ -------------------
	.faq-item {
		padding-left: 30px;

		&:before,
		&__title {
			font-size: 18px;
		}

		&__text {
			font-size: 14px;
		}
	}
}

@media (max-width: 479px) {

	// Table-------------------
	.table {

		&__th-hidden {
			display: none;
		}

		&__th-pd {
			padding-left: 50px;
		}

		&__tr-winners {

			td {
				font-size: 16px;
			}
		}

		&__td-phone {
			display: none;
		}

		&__td-win-prize {
			padding-left: 50px;
			word-break: break-all;
		}
	}

	.winner-name {
		white-space: nowrap;

		&:after {
			content: attr(data-phone);
			display: block;
			margin-top: 5px;
		}
	}

	// Popups-----------------
	.popup {

		&__wrap {
			max-width: 300px;
			padding: 45px 20px 40px;
			margin: 35px auto;
		}
	}
}