// Media 
$screen-xs-max: 479px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// Fonts
$circe: 'Circe', sans-serif;
$circeB: 'Circe-Bold', sans-serif;
$circeExB: 'Circe-ExtraBold', sans-serif;
$nextScript: 'Nexa Script', sans-serif;

// Colors
$mainColor: #20368c;
$colorForms1: #7b7b7b;
$colorForms2: #000000;
$colorText1: #747474;
$colorText2: #e6da00;
$colorText3: #ffffff;
$colorText4: #e20509;
$colorError1: #e20509;
$colorError2: #ffeded;
$colorBtn1: #ffffff;
$colorBtn2: #e6da00;
$colorBtn3: #f0f0f0;
$footerBg: #20368c;