@import "./var";
@import "./mixins";

body {
	padding: 0 5px;
}

.dropzone {
    border: 2px dashed #e6da00;
    border-radius: 5px;
}

.uf-container {
    width: 300px;
}

.uf-container-title {
    text-align:center;
}

.dropzone .dz-preview .dz-image {
	border-radius: 50%;
	max-width: 100px;
	width: 100%;
	max-height: 100px;
	min-height: 100px;
    display: flex;
	align-items: center;
	justify-content: center;
}

.dropzone .dz-preview .dz-details .dz-size {
	font-size: 10px;
}

.dropzone .dz-preview .dz-progress {
	height: 8px;
	width: 50px;
	top: 45px;
	margin-top: 0;
	margin-left: -25px;
}

.uf-button-wrapper {
    text-align: center;
}

.uf-button-submit {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ef2f3e;
    color: #ffffff;
    border-radius: 30px;
    margin: auto;
    display: block;
    min-width: 150px;
}

/* my style */
.container--custom {
	padding: 0;
	max-width: 350px;
	width: 100%;
}

.title {
	font-size: 34px;
	color: #fff;
	margin: 0;
}

.container-tutorial {
	margin-top: 30px;
	color: #747474;
	font-size: 14px;
}

p {
	margin: 0;
}

.container-tutorial__text {
	margin-bottom: 20px;
}

.container-tutorial__text p:nth-child(n+2) {
	margin-top: 10px;
}

.tutorial-link {
	color: #ffed00;
	font-size: 14px;
	text-decoration: underline;
}

.tutorial-link:hover,
.tutorial-link:focus {
	color: #ffed00;
	text-decoration: none;
}

.tutorial-photo--custom {
	margin-top: 10px;
}

.img-thumbnail--custom {
	max-height: 400px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	padding: 0;
}

.dropzone--custom {
	margin-top: 20px;
	color: $mainColor;
	background-color: rgba(0, 0, 0, 0);
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.dropzone--custom .dz-preview.dz-image-preview {
	background: rgba(255, 255, 255, 0);
	margin: 5px;
}

.button-submit--custom {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 900;
	background-color: $colorBtn2;
	padding: 15px 20px;
	border-radius: 25px;
	@include transitionEase(.3s);
	max-width: 240px;
	width: 100%;
	color: $mainColor;
	outline: none;

	&:hover {
		transform: scale(1.1);
	}
}

.dropzone .dz-preview:hover {
	
	.dz-image img {
		filter: blur(0);
	}
}

.dz-details,
.dz-progress,
.dz-success-mark,
.dz-error-mark,
.dz-error-message {
	display: none !important;
}

.dz-message {
	width: 100%;
}

.dz-remove {
	position: absolute;
    top: 0;
    right: 0;
	color: rgba(0,0,0,0);
	width: 32px;
    height: 32px;
    background-color: #e6da00;
    z-index: 100;
	border-radius: 50%;

	&:hover {
		color: rgba(0,0,0,0);
	}
	
	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		width: 50%;
		height: 2px;
		background-color: $mainColor;
	}

	&:after {
		transform: translate(-50%, -50%) rotate(-45deg);;
	}
}

img {
	max-width: 100%;
}

.form-control {
	margin-top: 20px;
	border: none;
	border-bottom: 1px solid $mainColor;
	padding: 5px;
	width: 100%;
	color: $colorForms2;
	border-radius: 0;
	box-shadow: none;
	
	
	&:focus {
		border-color: $mainColor;
    	outline: none;
    	box-shadow: none;
	}
}

.input-group.date {
	margin-top: 20px;

	.form-control {
		margin-top: 0;
	}

	.input-group-addon {
		background-color: #fff;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid $mainColor;
	}
}

.text-end {
	line-height: 100%;
	text-align: center;
	font-size: 30px;
	color: $mainColor;
	margin-top: 30px;
	font-weight: 700;
}